.post-view-page{
    width: inherit;
    height: 87.2vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;

    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-align: center;
}

.post-view{
    margin: 0px 350px;

    width: 50vw;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 45px 7px;

    border-radius: 10px;

    border: solid 3px rgb(56, 54, 54);
}

.post-view >*{
}

.post-view-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    
    border-radius: 10px;

    background-color: rgba(238, 238, 238, 0.678);

}

.post-view-content > *{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px 10px;
}

.post-view-date_description{
    /* margin-right: auto; */

}

.post-view-title_image{

}

.post-view-img{
    height: 50%;
    width: 50%;


}

.post-view-clickables{
    /* margin-left: auto; */
}

.post-view-upvotes{
    display: flex;
    
}

.comments-box{
    background-color: grey;

    width: 100%;

    margin-top: 20px;

}

