.posts-page{
    width: 50vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
    
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;

}

.posts-page > *{
}

.posts-container{
    display: flex;
    flex-direction: column;

    width: 50vw;



    /* border: solid 2px black; */

}

.post{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 20px 0px;
    padding: 30px 50px;

    background-image: url("../assets/images/holo_texture-197-100--29.png");
    /* background-image: url("../assets/images/holo_texture-184-82--5.png"); */
    /* background-image: url("../assets//images/holo_texture2-199-100--23.png"); */
    background-size: 50% 150%;



    border: solid 5px rgb(56, 54, 54);
    border-radius: 20px;

    flex-grow: 1;

    height: 150px;

    cursor: pointer;

}



.post:hover{
    border: solid 5px rgb(0, 162, 211);
}



.post-date{
    margin-bottom: auto;

    font-weight: bold;
    font-size: 20px;

    background-color: rgba(153, 217, 247, 0.795);
    padding: 7px;

    border-radius: 10px;
    /* border: 2px solid rgb(153, 217, 247); */

    width: max-content;

}

.post-title{
    margin-left: auto;
    margin-right: auto;

    border-radius: 15px;

    font-size: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.post-upvotes{
    margin-top: auto;
    margin-left: auto;

    font-weight: bold;
    font-size: 20px;

    background-color: rgba(153, 217, 247, 0.795);
    padding: 7px;

    border-radius: 10px;



}