@font-face {
    font-family: "Star Wars";
    src: url("../assets/fonts/Strjmono.ttf");
}

.header{
    /* width: 50%;
    height: 100px;

    background-color: rgb(82, 81, 81); */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-grow: 1;

    flex-shrink: 0;

    font-family: "Star Wars";
    text-align: center;

    margin-top: 15px;
}

.header-img{
    width: 1000px;
    height: 200px;

    border-radius: 10px;
}

.header-title{
    font-size: 65px;
    letter-spacing: 6px;

    -webkit-text-stroke: 1px grey;
    /* -webkit-filter: drop-shadow(); */


    color: rgb(206, 206, 206) ;
}
